
IremEczOtomasyonu.suo
IremEczOtomasyonu/bin/*
IremEczOtomasyonu/IremEczOtomasyonu.csproj.user
IremEczOtomasyonu/obj/*
_ReSharper.IremEczOtomasyonu/*
IremEczOtomasyonu.sln.DotSettings.user
IremEczOtomasyonu.sln.docstates.suo
IremEczOtomasyonu/Database1_sorunlu.sdf
IremEczOtomasyonu/Database1_bak.sdf
ConnectionStringEncrypter/bin/*
ConnectionStringEncrypter/obj/*