
IremEczOtomasyonu.suo
IremEczOtomasyonu/bin/*
IremEczOtomasyonu/obj/*
_ReSharper.IremEczOtomasyonu/*
IremEczOtomasyonu.sln.docstates.suo
IremEczOtomasyonu/Database1_sorunlu.sdf
IremEczOtomasyonu/Database1_bak.sdf
ConnectionStringEncrypter/bin/*
ConnectionStringEncrypter/obj/*
[Ii]remEczSetup/[Ii]remEczSetup/Express/
[Ii]remEczSetup/[Ii]remEczSetup/Express/[Ii]nterm/*
WebCamLib/Debug/*
WebCamLib/Release/*
WebCamWrapper/bin/*
WebCamWrapper/obj/*
*.user
Debug*/
Release*/
IremEczOtomasyonu.sdf
IremEczOtomasyonu.opensdf
*.suo
packages/
*.Dotsettings
!ResharperSettings/*.Dotsettings
*.swidtag
.vs
.DS_Store