<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/BL.Database1Entities.csdl|res://*/BL.Database1Entities.ssdl|res://*/BL.Database1Entities.msl;provider=System.Data.SqlServerCe.3.5;provider connection string='Data Source=C:\\Users\\Emin\\Documents\\Visual Studio 2010\\Projects\\IremEczOtomasyonu\\IremEczOtomasyonu\\Database1.sdf;password=xsJ#_14|8[452bZ'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>